html, body {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link-wrapper {
	display: block;
	font-family: Arial, sans-serif; /* Set the desired font type */
	font-size: large; /* Set the desired font size */
}

@media only screen and (display-mode: fullscreen) {
	.link-wrapper {
		display: none;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.container > * {
	margin: 5px 0;
}

.container h1:first-child,
.container .largetext {
	margin-top: 0;
}

.container .canvas-container {
	margin-bottom: 10px;
}

body {
	background-color: black;
	color: white;
}

p, h1 {
	margin: 0;
	padding: 0;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: lightblue;
}

a:active {
	color: lightblue;
}

.credits {
	color: white;
	font-size: small;
}

.largetext {
	color: white;
	font-size: large;
}

.xlargetext {
	color: white;
	font-size: x-large;
}

.canvasEye2 {
	margin: auto;
}

h1 {
	font-size: x-large;
}
